Chapter1-1-2_HelloWorld/.vs/HelloWorld/CopilotIndices/17.14.827.52834/CodeChunks.db
Chapter1-1-2_HelloWorld/.vs/HelloWorld/CopilotIndices/17.14.827.52834/SemanticSymbols.db
Chapter1-1-2_HelloWorld/.vs/HelloWorld/FileContentIndex/1eb5f9ec-d7f5-4269-b8a8-12270ce44918.vsidx
Chapter1-1-2_HelloWorld/.vs/HelloWorld/FileContentIndex/88823e64-0820-40af-9c12-4cf3eabbf429.vsidx
Chapter1-1-2_HelloWorld/.vs/HelloWorld/FileContentIndex/ba9f1ee6-724b-401c-9591-1d5c448a5c6d.vsidx
Chapter1-1-2_HelloWorld/.vs/HelloWorld/FileContentIndex/c3ced5ca-aac0-4ccd-8cdf-cb7c4c0ed5e3.vsidx
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/.suo
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/Browse.VC.db
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/DocumentLayout.backup.json
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/DocumentLayout.json
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/12ae9ca63ac89ea4/HELLOWWORLD.ipch
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/3937f8c7a437d518/HELLOWWORLD.ipch
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/aa5836db37abd964/HELLOWWORLD.ipch
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/ipch/AutoPCH/e7a0194827a9946c/HELLOWWORLD.ipch
Chapter1-1-2_HelloWorld/.vs/HelloWorld/v17/Solution.VC.db
Chapter1-1-2_HelloWorld/HelloWorld/HelloWorld.vcxproj.user
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.exe.recipe
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.ilk
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.log
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.command.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/Cl.items.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.read.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/CL.write.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/HelloWorld.lastbuildstate
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.command.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.read.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.secondary.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HelloWorld.tlog/link.write.1.tlog
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/HellowWorld.obj
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/vc143.idb
Chapter1-1-2_HelloWorld/HelloWorld/x64/Debug/vc143.pdb
Chapter1-1-2_HelloWorld/x64/Debug/HelloWorld.exe
Chapter1-1-2_HelloWorld/x64/Debug/HelloWorld.pdb
